/* General settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;

}

*{
    font-family: 'Roboto', sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  }

  /* General settings */


.header {
    background-color: rgb(13, 5, 24);
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
}




.nav {
    width: 90%;
    background-color: rgba(13, 5, 24, 0.9);
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: auto;
    

}

.logo-container{
    display: flex;
    align-items: center;
}

.nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}   
.nav h2 {
    color: rgb(168, 167, 167);
    margin-left: 10px;
    padding-top: 5px;
    font-weight: 500;
    font-weight: bolder;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: rgb(196, 191, 191);
    margin-right: 10px;
    font-size: 16px;
    
}



hr {
    border: 1px solid greenyellow;

}   


.login-section {
    color: rgb(168, 167, 167);
    background-color: rgb(13, 5, 24);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
    margin: auto;
    justify-content: center;
    height: 700px;

}


.login-form {
    display: grid;
    grid-template-columns: auto;
    gap: 1px;
    width: 800px;
    height:auto;
    line-height: 15px;
    justify-content: center;
 
    
}

.login-text{
  line-height: 20px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.login-text p{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    }

.login-text h3{
  line-height: 20px;
  font-size: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}


.login-text h5{
    font-size: 16px;
    text-align: center;
    margin: 0 auto;

    }



.login-text h5{
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 10px;
  margin: 0 auto;
  justify-content: center;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    line-height: 10px;
    padding: 30px;
    background-color: rgba(54, 44, 44, 0.226);
    border: 2px solid greenyellow;
    border-radius: 15px;
    width: 650px;


}

.email, .password{
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    background-color: rgba(74, 64, 64, 0.178);

}

.sign-in {
    height: 60px;
    background: linear-gradient(45deg, #dd2b93, #8402ee);
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    
}

.sign-up{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

}

.sign-up-link {
    color: violet;
}

.footer-section {

    background-color: #080011fa;
    height: 340px;
    margin-bottom: 0px;
}

.footer-container {
    color: darkgray;
    display: flex;
    justify-content:space-between;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 30px;

}

.footer-endnote{
    color: darkgray;
    background-color: #2e032dc4;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    position: sticky;
    bottom: 0;
    overflow: hidden;


}